a{
  text-decoration: none;
}

p {
  margin: 0;
}

.center{
  text-align: center;
  align-content: center;
}

.first {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  height: 75vh;
}

.first .header-image {
  display: inline-block;
  width: 49.999vw;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-image:nth-child(1) {
  background-image: url('../images/Attachment-1-4.jpeg');
}

.header-image:nth-child(2) {
  background-image: url('../images/Tschanz%20family%20room.JPG');
}

.title{
  font-size: 1.9em;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 100;
  color: #666;
  margin: 0;
  letter-spacing: 5px;
}

.rotated{
  transform: rotate(90deg);
}

.subtitle{
  padding: 0;
  font-size: 13px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

header{
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px -1px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -1px 30px 0px rgba(0,0,0,0.2);
  box-shadow: 0px -1px 30px 0px rgba(0,0,0,0.2);
}

#top img{
  height: 70vh;
}

#top img:hover{
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#top img:active{
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.section-title{
  padding-top: 30px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.section-title + p {
  padding-bottom: 30px;
}

.grid{
  background-color: #eee;
}

.grid-1{
  width: 22.5%;
}

.grid-2{
  width: 37.5%;
}

.grid-3{
  width: 40%;
}

.gallery h5{
  margin: 0;
  font-weight: 700;
}

.gallery img{
  transition: .2s;
  width: 100%;
}

.overtext{
  position: absolute;
  top: 0;
  width: 100%;
  height: 99%;
  cursor: pointer;
}

.overtext p{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: .5px;
  pointer-events: none;
}

.gallery .columns{
  position: relative;
}

.contact-icon img:hover{
  opacity: .8;
}

.gallery{
  margin-bottom: 30px;
}

.row.flex-center {
  display: flex;
  align-items: center;
}

.link-button {
  color: white;
  background-color: #595959;
  padding: 10px;
  display: block;
  margin-top: 10px;
  text-align: center;
  float: left;
  clear: both;
}

.link-button:hover {
  color: rgba(256, 256, 256, 0.9);
}

footer{
  margin-top: 50px;
  height: 100px;
  background-color: #F2F2F2;
}

footer p {
  line-height: 100px;
  color: #595959;
  margin: 0;
}

.modal-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-cover.show {
  display: block;
}

.modal-photo {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid white;
  max-width: 90%;
  max-height: 75%;
}

@media (max-width: 550px) {
  
  .overtext {
    pointer-events: none;
  }
  
  .big,
  .header-image.big {
    display: none;
  }
  
  .first {
    margin-top: 60px;
    height: auto;
  }
  
  .first img {
    width: 100vw;
    height: 100%;
  }
  
  .contact-icon{
    margin-right: 0;
    margin: 10px;
  }
  
  .title{
    padding-bottom: 15px;
    margin: auto;
  }
  
  .row.flex-center {
    display:  block;
  }
  
}

@media (min-width: 550px) {
  .gallery h5{
    padding-top: 150px;
  }
  
  .mobile{
    display: none;
  }
}

@media(max-width: 700px){
  .title{
    font-size: 19px;
  }
  
  .subtitle{
    font-size: 12px;
  }
  
  .gallery {
    margin-bottom: 0;
  }
  
  .gallery .columns {
    margin-bottom: 15px;
  }
}